<%- include("partials/header"); -%>

<div class="jumbotron text-center">
    <div class="container">
    <form action="/submit" method="POST">
        <div class="form-group">
            <input type="text" class="form-control text-center" name="secret" placeholder="Your secrets?"> 
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>
    </div>
</div>

<%- include("partials/footer"); -%>